$vw-viewport: 1920;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}

.main {
  background-color: #1795F8;
  width: 100vw;
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  padding-bottom: 70px ;
}
.top,
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
.top{
  max-width: 561px;
  width: 90%;
}
.bottom{
  width: 100%;
}
.inputcon {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  border-radius: 20px;
}

.texts {
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 34px;
  align-items: flex-start;
  justify-content: center;
}

.text1 {
  font-size: 13px;
  line-height: 13.73px;
  color: #000;
  margin-bottom: 5px;
}

.text2 {
  font-size: 20px;
  line-height: 22px;
  color: #000;
  font-family: Anton;
}
.text3 {
  font-size: 12px;
  line-height: 13px;
  color: #856703;
  text-align: center;
  width: 100%;
  margin-top: 12px;
}
.text4 {
  font-size: 14px;
  line-height: 15px;
  color: #856703;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 10px;
}
.button {
  max-width: 563px;
  width: 90%;
  height: 66px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: #000;
  cursor: pointer;
  border: none;
  animation: createBox 1s infinite;
}

@keyframes createBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.input {
  background-color: #000;
  height: 168px;
  padding: 21px 34px;
  border-radius: 20px;
}

.input textarea {
  background-color: #000;
  border: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  vertical-align: top;
  outline: none;
  color: #fff;
}

.modalcon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  //overflow: hidden;
}
.ad {
  height: 15vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
}
.modal {
  height: auto;
  min-height: 85vh;
  background-color: #ffd548;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: 100%;
}
.emoji {
  font-size: get-vw(250px);
}
.emojitext {
  font-size: 1.2rem;
  color: #856703;
}
.button2 {
  max-width:563px;
  width: 80%;
  height: 69px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 21px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: -8px 8px black;
  border: solid 5px black;
  margin-top: 15px;
}

@media (max-width: 768px) {
  $vw-viewport: 630;
  @function get-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
  }

  .main {
    background-color: #ffd548;
    width: 100vw;
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;/*
    padding: get-vw(82px) 0;
    padding-bottom: get-vw(140px); */
    padding-bottom: 90px;
    padding-top: 40px;
  }
  .top,
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* .inputcon {
    width: get-vw(561px);
    border-radius: get-vw(20px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
  }

  .texts {
    height: get-vw(83px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 get-vw(34px);
    align-items: flex-start;
    justify-content: center;
  }

  .text1 {
    font-size: get-vw(19px);
    line-height: get-vw(19px);
    color: #000;
  }

  .text2 {
    font-size: get-vw(28px);
    line-height: get-vw(29px);
    color: #000;
    font-family: Anton;
  }
  .text3 {
    font-size: get-vw(19px);
    line-height: get-vw(27px);
    color: #000;
    color: #856703;
    text-align: center;
    width: 100%;
    margin-top: get-vw(25px);
  }
  .text4 {
    font-size: get-vw(24px);
    line-height: get-vw(27px);
    color: #000;
    color: #856703;
    text-align: center;
    width: 100%;
    margin-bottom: get-vw(20px);
  }
  .button {
    width: get-vw(563px);
    height: get-vw(86px);
    border-radius: get-vw(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: get-vw(21px);
    background-color: #000;
    cursor: pointer;
    margin-top: get-vw(20px);
  }

  .input {
    background-color: #000;
    height: get-vw(288px);
    padding: get-vw(21px) get-vw(34px);
    border: none;
    border-radius: get-vw(20px);
  }

  .input textarea {
    background-color: #000;
    border: none;
    font-size: get-vw(22px);
    width: 100%;
    height: 100%;
    vertical-align: top;
    outline: none;
    color: #fff;
    border: none;
  }

  .modalcon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
  }
  .ad {
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: get-vw(24px);
  }
  .modal {
    height: 85vh;
    background-color: #ffd548;
    border-top-right-radius: get-vw(30px);
    border-top-left-radius: get-vw(30px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: get-vw(60px) 0;
    width: 100%;
  }
  .emoji {
    font-size: get-vw(108px);
  }
  .emojitext {
    font-size: get-vw(28px);
    color: #856703;
  }
  .button2 {
    width: get-vw(563px);
    height: get-vw(86px);
    border-radius: get-vw(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: get-vw(21px);
    background-color: #fff;
    cursor: pointer;
    box-shadow: get-vw(-8px) get-vw(8px) black;
    border: solid get-vw(5px) black;
    margin-top: get-vw(15px);
  }
  
  */
}
